* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

.quotes__header {
	text-align: center;
	margin-top: 50px;
	font-weight: 700;
	font-size: 50px;
	text-shadow: rgb(23, 23, 23, 0.3) 5px 5px 3px;
}
.quotes__container {
	display: flex;
	flex-wrap: wrap;
}
.card__container {
	background-color: rgb(234, 229, 229);
	margin: 20px;
	width: 30%;
	min-width: 300px;
	padding: 15px;
	border-radius: 7px;
	box-shadow: rgb(145, 144, 144, 0.5) 5px 5px 10px;
	margin: 20px auto;
}
.card__description {
	font-weight: 500;
}
.card__author {
	text-align: right;
	margin-top: 20px;
	opacity: 0.8;
}
.quotes__button {
	width: 150px;
	color: rgb(234, 229, 229);
	cursor: pointer;
	transition-duration: 0.3s;
	border-radius: 10px;
	height: 50px;
	background-color: #171717;
	text-transform: uppercase;
}
.quotes__button:hover {
	transform: translateY(-5px);
	box-shadow: rgb(23, 23, 23, 0.3) 0 5px 8px;
}
.quotes__button-container {
	/* width: 100%; */
	display: flex;
	justify-content: center;
	margin: 100px 0;
}
.quotes__loader {
	height: 30px;
	width: 30px;
	border-radius: 100px;
	/* border-top: 3px solid #171717; */
	margin: auto;
	background: linear-gradient(
		to bottom,
		#171717 0 30%,
		rgb(164, 163, 163) 30% 100%
	);
	position: relative;
	animation: rotate-loader 2s linear infinite;
}
@keyframes rotate-loader {
	from {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.quotes__loader::after {
	content: " ";
	background-color: white;
	height: 22px;
	width: 22px;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
}
