* {
	border: none;
}

.calculator {
	box-shadow: inset 10px 10px 15px rgb(72, 72, 72),
		inset -10px -10px 15px rgb(27, 27, 27), 5px 5px 10px;

	padding: 15px;
	width: 550px;

	margin: auto;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	background-color: rgb(43, 43, 43);
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.calculator__title {
	/* text-align: center; */
	width: 80%;
	margin: 20px auto;
	color: rgb(117, 116, 116);
	text-transform: uppercase;
}
.calculator__input {
	width: 80%;
	background-color: rgb(63, 152, 122);
	display: flex;
	height: 35px;
	border-radius: 5px;
	margin: auto;
	font-size: 30px;
	padding: 10px;
	box-shadow: inset 2px 2px 5px rgb(55, 55, 55);
	border-top: rgb(43, 43, 43) 1px solid;
	border-left: 1px solid rgb(43, 43, 43);
	border-bottom: 0.1px solid rgb(139, 137, 137);
	font-family: "Orbitron", sans-serif;
	outline: 3px solid rgb(34, 34, 34, 0.5);
}
.calculator__input:focus {
	outline: none;
}

table {
	margin: auto;
}

button {
	font-size: 40px;
	background-color: grey;
	width: 110px;
	margin: 1px;
	height: 60px;
	border-radius: 10px;
	box-shadow: inset 2px 2px 2px, inset -2px -2px 1px rgb(169, 169, 169),
		2px 2px 5px;
	cursor: pointer;
}
button:active {
	transform: translate(1px, 1px) scale(0.97);
	transform-origin: bottom left;
	box-shadow: inset 1px 1px 2px, inset -2px -2px 3px rgb(169, 169, 169),
		1px 1px 3px;
}

.calculator__number-container {
	margin-top: 25px;
}
