* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}
.carousel {
	position: relative;
	width: 90vw;
	height: 90vh;
	margin: auto;
	margin-top: 20px;
}
.carousel__slide-image {
	margin: auto;
	display: grid;
	place-items: center;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.carousel__button {
	border: none;
	position: absolute;
	background: transparent;
	top: 50%;
	cursor: pointer;
	border-radius: 1000px;
	box-shadow: antiquewhite 0px 0px 10px;
	background-color: antiquewhite;
	opacity: 0.6;
	transition-duration: 0.3;

	z-index: 1;
	transform: translateY(-50%);
}
.carousel__button:hover {
	opacity: 0.8;
}
.carousel__button--left {
	left: -55px;
}
.carousel__button--right {
	right: -55px;
}
.carousel__track-container {
	padding: 0px;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}
.upload-button {
	margin: 20px auto;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	border: none;
	justify-self: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #2f2f2f;
	transition-duration: 0.3s;
	cursor: pointer;
	color: rgb(174, 173, 173);
	box-shadow: 2px 5px 5px rgb(157, 156, 156);
	/* text-align: center; */
}
.upload-button:hover {
	background-color: #131313;
}

.carousel__track {
	padding: 0;
	margin: 0;
	position: relative;
	height: 100%;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.carousel__slide {
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.carousel__nav {
	height: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
}
.carousel__indicator {
	border: 0;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: black;
	margin: 0 7px;
	opacity: 0.4;
	cursor: pointer;
	transform: scale(0.9);
}
.carousel__indicator:hover {
	opacity: 0.6;
}
.carousel__indicator--current-slide {
	opacity: 0.8 !important;
	transform: scale(1.2);
}
